.destination {

    .destination-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .header {

            margin-top: 100px;
            
            display: flex;
            gap: 100px;
            padding: 0 80px;
            align-items: center;
            justify-content: center;
            img {
                height: 400px;
                width: 500px;
                clip-path: polygon(9% 0, 100% 0%, 91% 100%, 0% 100%);
                object-fit: cover;
            }
            .details {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 60%;
    
                h1 {
                    font-family: var(--cursive);
                    font-size: 3rem;
                }
    
                p {
                    span {
                        color: var(--black);
                        font-weight: 700;
                        background-color: var(--light-blue);
                        padding: 5px 10px;
                        margin: 0 5px;
                    }
                }
    
                section {
                    text-align: center;
                    padding: 20px;
                    background-color: var(--light-pink);
                    font-size: 1.1rem;
                    width: 200px;
                    margin-top: 20px;
    
                    span {
                        margin: 0 14px;
                    }
                }
            }
        }
    
        .location-map {
            margin: 50px auto; 
        }

        .plan-trip-container {
            h1 {
                text-align: center;
                font-family: var(--cursive);
            }

            width: 800px;
            padding: 20px;

            .plan-input {
                padding: 15px 15px 15px 50px;
                margin: 20px;

                input {
                    border: none;
                    font-size: 1.2rem;
                    padding: 5px;
                    margin-left: 10px;
                    font-family: "Quicksand", sans-serif;;
                }
            }

            /* Alternate background colors */
            .plan-input:nth-child(odd) {
                background-color: var(--light-blue);
            }

            .plan-input:nth-child(even) {
                background-color: var(--light-pink);
            }

            h3, h2 {
                text-align: center;
            }
        }
    }
}